.link{
  padding: 15px;
  text-decoration: none;
  border: 1px solid black;
  background-color: grey;
  border-radius: 25px;
  min-width: 120px;
  width: 30%;
  color: white;
  font-size: 20px;
  cursor: pointer;
  }

  .link:hover{
    background-color: white;
    color: black;
  }

  .link:active{
    background-color: yellow;
  }
